body {
    background-image: url("../images/book.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    background-image: url("../images/abc-library-system-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    width: 174px;
    margin: 20px 30px;
} 

.sign-up-form {
    background-color: rgba(0, 0, 0, 0.8);
    width: 380px;
    height: 558px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px; 
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 8px;
    cursor: default;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0; 
    padding: 0;
    cursor: default;
}

.labels {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.sign-up-form input[type="text"], input[type="password"] {
    width: 100%;
    line-height: 40px; 
    border: none;
    background-color: transparent;
    outline: 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    margin-bottom: 8px;
}

.sign-up-form input[type="text"]:focus, input[type="password"]:focus {
    border-color:  #CC99CC;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: #F0F8FF;
    font-style: italic;
}

.sign-up-form input[type="submit"] {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    height: 38px;
    color: #FFFFFF;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    margin-top: 13px; 
    margin-bottom: 10px; 
}

.sign-up-form input[type="submit"]:hover {
    cursor: pointer;
    color: #CC99CC;
    border: 2px solid #CC99CC;
}

.sign-up-form p {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    color: #FFFFFF;
}

.sign-up-form p:hover {
    cursor: default;
}

a.sign-in {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    color:  #FFFFFF; 
}

a.sign-in:hover {
    text-decoration: underline;
    color: #CC99CC;
}